@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@using Nhat_ThaiThanh_21T1020553.ViewModels
@model BookViewModel
<form method="post" asp-action="Edit">
    <div class="row mb-2">
        <label class="col-2">Tiêu đề sách</label>
        <input class="col-10" type="text" asp-for="BookResponse.Title" value="@Model.BookResponse.Title" />
    </div>
    <div class="row mb-2">
        <label class="col-2">Ngày sản xuất</label>
        <input class="col-10" type="date" asp-for="BookResponse.PublicationDate" value="@Model.BookResponse.PublicationDate?.ToString("yyyy-MM-dd")" />
    </div>
    <div>
        <input type="hidden" asp-for="BookResponse.AuthorId" value="@Model.BookResponse.AuthorId" />
        <input type="hidden" asp-for="BookResponse.BookId" value="@Model.BookResponse.BookId" />
        <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
        <button type="submit" class="btn btn-success">Đồng ý</button>
    </div>
</form>